@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

:root {
  --button-theme: rgba(173, 17, 69, 0.8);
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to top,
    #fff 23.8%,
    rgba(173, 17, 69, 0.8) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 0.4em;
  letter-spacing: 2px;
  font-size: 2.6em;
  color: #fff;
  font-family: "Bungee Outline", sans-serif;
}

.music-container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(173, 17, 69, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 50px 0 100px 0;
  /* Element with higher z-index is displayed in front */
  z-index: 10;
}

.img-container {
  position: relative;
  width: 150px;
  /* Half of height of song cover/"record." Needs to be this so hole is properly aligned */
  height: 75px;
}

/* "Hole" in "record" */
.img-container::after {
  content: "";
  background: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  /* x (moving left), y (moving down) */
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  /* Cuts off sides of image */
  object-fit: cover;
  height: 150px;
  /* From container, which is 150px */
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: var(--button-theme);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.action-btn:first-of-type {
  margin-left: 20px;
}

.action-btn.action-btn-big {
  color: var(--button-theme);
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.action-btn:hover {
  transform: scale(1.1);
}

.action-btn.random-mode {
  border-width: 2px;
  border-style: solid;
  border-color: var(--button-theme);
  padding: 0.5em;
  border-radius: 10px;
}

.music-info {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 170px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  /* Behind everything until music is playing */
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0;
  transition: width 0.1s linear;
}

/* Smaller than tablet (same as small breakpoint in Bootstrap 4) */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
    margin-bottom: 1.5em;
  }

  .music-container {
    padding: 5px;
  }

  .music-info {
    padding: 10px 10px 10px 80px;
  }

  .img-container {
    width: 80px;
    height: 40px;
  }

  .img-container img {
    height: 80px;
  }

  .action-btn {
    margin: 0 10px;
  }

  .action-btn:first-of-type {
    margin-left: 5px;
  }
}
